* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-header {
  min-height: 1000px;
}

.banner {
  min-height: 1000px;
  background-image: url(../image/Headerimg.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  min-height: 1000px;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* HEADER */

.site-navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 130px;
  text-decoration: none;
}

.nav-menu {
  width: 620px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: inherit;
}

.menu-link {
  position: relative;
  list-style: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  transition: all 200ms linear;
  cursor: pointer;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #fce38a;
}

.menu-link:hover::after {
  content: '';
  position: absolute;
  bottom: -11px;
  background-color: #fce38a;
  width: 100%;
  height: 3px;
  display: block;
}

.header-title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.header-item {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.header-button {
  width: 160px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  display: block;
  cursor: pointer;
  margin-bottom: 230px;
}

/* Section services */

.section-title {
  font-size: 24px;
  font-family: "Kaushan Script";
  text-align: center;
  margin-bottom: 20px;
}

.section-name {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-name::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

/* Section Cart */

.cart-services {
  padding-left: 82px;
  width: 300px;
  position: relative;
}

.cart-services-alarm::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/ALARM.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart-services-design::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/LINE_GRAPH.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart-services-ok::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/OK.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart-services-book::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/BOOK_2.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart-services-home::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/HOME.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart-services-image::before {
  content: "";
  width: 82px;
  height: 82px;
  background: url(../image/IMAGE.png) no-repeat center top;
  position: absolute;
  left: 0;
}

.cart {
  padding-top: 80px;
}

.cart-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.cart-services {
  width: 320px;
}

.cart-img {
  width: 32px;
  height: 32px;
}

.cart-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  /* font-weight: bold; */
}

.cart-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 24px;
  margin-bottom: 50px;
}

/* Section Team */

.section-team {
  padding-top: 50px;
  padding-bottom: 80px;
}

.team-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 24px;
  text-align: center;
  margin: 50px;
}

.cart-section {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.cart-team-position {
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
}

.cart-team-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}

/* Cart Team */

.cart-team {
  position: relative;
}

.cart-team-bg {
  margin-bottom: 25px;
  background-color: #95e1d3;
  transition: all 200ms linear;
}

.cart-team-img {
  transition: all 200ms linear;
}

.cart-team-bg:hover .cart-team-overlay {
  opacity: 1;
}

.cart-team-bg:hover .cart-team-img {
  transform: translate(-10px, -10px);
}

.cart-team-img > img {
  display: block;
}

.cart-team-overlay {
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 0;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-team-link {
  width: 224px;
  display: flex;
}

.cart-team-icon {
  list-style: none;
  margin-right: 1px;
}

.cart-team-icon:last-of-type {
  margin-right: 0;
}

.link-social {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce38a;
  transition: all 200ms linear;
}

.link-social:hover {
  background-color: #95e1d3;
}

.team__img {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

/* Footer */

.page-footer {
  width: 1200px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 1px;
}

.footer-form {
  display: flex;
}

.text-footer {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.text-footer-title {
  color: #f38181;
}

.footer-form-textbox {
  width: 230px;
  border: 1px solid #e7e7e7;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  color: #cccccc;
  border-right: none;
}

.footer-form-button {
  background-color: #95e1d3;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  transition: all 200ms linear;
}

.footer-form-button:hover {
  background-color: #f38181;
}

/* MEDIA  */

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: url(../image/Headerimg@2x.png);
  }
}
