@media screen and (min-width: 768px) {
  .container {
    width: 670px;
  }

  .page-header {
    background-image: url(../image/Slider-foto.png);
    width: 100%;
  }

  .site-header {
    margin-bottom: 100px;
  }

  .site-logo {
    display: inline-block;
    margin: auto;
    margin-top: 35px;
  }

  .header-title {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 40px;
  }

  .header-item {
    font-size: 24px;
    margin-bottom: 34px;
  }

  .name {
    width: 540px;
    margin: 0 auto;
  }

  .site-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 38px;
  }

  .header-button {
    display: block;
    min-width: 225px;
  }

  .section {
    padding-top: 50px;
  }

  .section-button {
    min-width: 190px;
  }

  .cards {
    margin: auto;
    width: 532px;
    min-height: 492px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  .card-box {
    vertical-align: top;
    width: 236px;
    padding: 0 14px;
  }
}

@media screen and (max-width: 767px) {
  .nav-box {
    padding-top: 20px;
    margin-bottom: 114px;
  }

  .site-header {
    margin-bottom: 38px;
    background-size: contain;
  }

  .header-title {
    margin-bottom: 20px;
  }

  .header-item {
    margin-bottom: 20px;
  }

  .section {
    padding-top: 70px;
  }

  .section-name {
    margin-bottom: 16px;
  }

  .cards {
    margin-bottom: 30px;
  }

  .card-box:not(:last-child) {
    margin-bottom: 30px;
  }

  .partner-img {
    margin-bottom: 20px;
  }

  .card-title {
    margin-bottom: 18px;
  }

  .section-button {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 939px) {
  .cards {
    padding-top: 72px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 940px) {
  .page-header {
    min-height: 700px;
  }

  .container {
    width: 920px;
    padding: 0;
    min-height: auto;
  }

  .site-header {
    margin-bottom: 120px;
  }

  .site-navigation {
    width: 870px;
  }

  .section {
    padding-top: 70px;
  }

  .cards {
    width: 920px;
    min-height: 320px;
    margin-bottom: 30px;
  }

  .card-box {
    display: flex;
    width: 220px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 230px;
  }
}
