* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container-fluid {
  background-color: #e9f0fd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 15px;
 
}

.container {
  max-width: 1170px;
  margin: auto;
  min-height: 600px;
  position: relative;
}

/* Site navigation */

.navigation {
  position: relative;
  width: 1170px;
  height: 36px;
  padding: 30px;
  margin: 0 auto 30px;
}

.logo {
  position: absolute;
}

.nav-menu {
  list-style: none;
  height: inherit;
  font-size: 14px;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
}

.nav-menu-title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  list-style: none;
  display: inline-block;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
  letter-spacing: -0.28;
}

.nav-menu a:hover,
.nav-menu a:focus {
  color: #1abc9c;
}

/* Slider */

.slider {
  height: 600px;
  position: relative;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
}

.slides img {
  object-fit: cover;
  width: 100%;
  min-height: 600px;
}

.slogan-first {
  font-size: 55px;
  font-weight: bold;
  position: absolute;
  width: 740px;
  text-transform: uppercase;
  font-family: "Roboto";
  color: #ffffff;
  bottom: 50%;
  left: 0;
  transform: translateX(60%);
  margin-bottom: 30px;
}

.slogan-second {
  font-size: 24px;
  position: absolute;
  width: 740px;
  text-transform: uppercase;
  font-family: "Roboto";
  color: #ffffff;
  bottom: 50%;
  left: 0;
  transform: translateX(60%);
}

.slider-button {
  width: 104px;
  height: 104px;
  position: absolute;
  background-color: #1abc9c;
  opacity: 0.65;
  border: none;
  outline: none;
  transition: opacity 0.4s ease;
  top: 40%;
}

.right-arrow {
  right: 0;
}

.right-arrow::before,
.left-arrow::before {
  content: "";
  --s: 28px;
  --bd: 4px solid #fff;
  width: var(--s);
  height: var(--s);
  border-left: var(--bd);
  border-top: var(--bd);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.right-arrow::before {
  left: 45%;
  transform: translate(-50%, -50%) rotate(135deg);
}

.left-arrow::before {
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slider-button:hover,
.slider-button:focus {
  background-color: #4ec6ab;
  opacity: 1;
  cursor: pointer;
}

/* Section collection */

h2 {
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto";
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.96px;
  margin: 0 auto;
  padding-top: 80px;
}

h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 7px;
  background-color: #1abc9c;
  margin: 30px auto;
}

.cart {
  width: 255px;
  height: 322px;
  float: left;
  margin: 0 15px;
  background: #fff;
  cursor: pointer;
  margin-top: 50px;
}

.cart-img-wrp {
  overflow: hidden;
  height: 283px;
  position: relative;
}

.cart-modal {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 235px;
  height: 261px;
  left: 10px;
  top: 11px;
  transition-duration: 0.3s;
  z-index: 10;
}

.cart-icon-wrapper {
  position: absolute;
  opacity: 0;
  width: 235px;
  left: 24px;
  top: 90px;
  transition-duration: 0.3s;
  z-index: 20;
}

.cart-img {
  width: 100%;
  height: auto;
  display: block;
}

.cart-text-wrp {
  height: calc(322px - 283px);
  line-height: calc(322px - 283px);
  background: #323232;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.cart-title {
  padding-left: 14px;
}

.cart-price {
  float: right;
  background: #8c8c8c;
  padding: 0 12px;
  transition-duration: 0.3s;
}

.cart:hover .cart-text-wrp {
  background: #1abc9c;
}

.cart:hover .cart-price {
  background: #7fd9c7;
}

.cart:hover .cart-modal {
  opacity: 0.549;
}

.cart:hover .cart-icon-wrapper {
  opacity: 1;
}

/*  ========== btn ============= */
.icon-btn {
  --s: 50px;
  box-sizing: border-box;
  background: transparent;
  margin: 0 8px 10px;
  height: var(--s);
  width: var(--s);
  border: 1px solid #fff;
  cursor: pointer;
  vertical-align: top;
}

.icon-btn--add {
  --s: 50px;
  width: calc(var(--s) * 3 + 4 * 10px);
  background: #323232;
  text-transform: uppercase;
  font-family: sans-serif;
}

.icon-btn:hover {
  background: #1abc9c;
  opacity: 1;
  border: 1px solid #1abc9c;
}

/* ======== icon ============== */
.icon {
  background-color: transparent;
  width: 25px;
  height: auto;
  display: block;
  margin: auto;
}

/* footer */

.page-footer {
  background-color: #323232;
  margin-top: 50px;
}

.text-footer {
  font-size: 16px;
  font-family: "Open Sans";
  color: #fefefe;
  text-align: center;
  padding: 30px 0;
}

.text-footer-title {
  color: #46bfa9;
}
