* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  margin: 0;
}

/* Site navigation */

.logo {
  float: left;
}

.navigation {
  display: block;
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 30px;
}

.nav-menu {
  list-style: none;
  height: inherit;
  font-size: 14px;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  float: right;
}

li {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  list-style: none;
  float: left;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
  letter-spacing: -0.28;
}

.nav-menu a:hover,
.nav-menu a:focus {
  color: #1abc9c;
}

/* Section Products */

.section-products-card {
  margin: 0 auto;
  float: left;
}

.cards {
  padding-top: 30px;
}

h2 {
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto";
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.96px;
  margin: 0 auto;
  padding-top: 50px;
}

h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 7px;
  background-color: #1abc9c;
  margin: 30px auto;
}

.img-product {
  width: 100%;
  height: calc(322px - 40px);
  display: block;
}

.wrp {
  background-color: #323232;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  text-transform: uppercase;
  overflow: hidden;
  height: 40px;
  line-height: 40px;

}

.product-title {
  color: #ffffff;
  font-weight: bold;
  float: left;
  padding-left: 14px;
}

.product-price {
  width: 54px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  padding: 0 12px;
  background-color: #8c8c8c;
  text-align: center;
}

/* Section News */

.section-news {
  margin: 0 auto;
  float: left;
}

.news-cards {
  padding-top: 30px;
}

.news {
  float: left;
  margin: 15px;
  background-color: #ffffff;
  margin-bottom: 80px;
}

.news-foto {
  width: 350px;
  height: 260px;
}

h4 {
  width: 300px;
  font-size: 18px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 26px;
  /* padding: 10px 0; */
}

h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 135px;
  height: 3px;
  background-color: #4ec6ab;
}

.text-news {
  width: 335px;
  font-size: 14px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  padding: 15px 0;
}

button {
  background-color: #4ec6ab;
  width: 160px;
  height: 50px;
  border-radius: 2px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


.card {
  width: 255px;
  float: left;
  height: 322px;
  margin: 15px;
}


.card:hover  .wrp {
  background: #1abc9c;
}


.card:hover .product-price {
  background: #7fd9c7;
}
